.branch-footer {
  background-color:#ffffff;
  padding-top:30px;
  padding-bottom:10px;
  min-height: 900px;
}

@media (min-width: 768px) {
  .branch-footer h4 {
    color:#dd3939;
    font-size:22px;
    font-weight:bold;
    opacity:0.8;
    text-align:left;
    font-family:'MyriadPro';
  }
}

@media (max-width: 767px) {
  .branch-footer h4 {
    color:#dd3939;
    font-size:18px;
    font-weight:bold;
    opacity:0.8;
    text-align:center;
    font-family:'MyriadPro';
  }
}

.branch-footer p {
  color:#919191;
  font-size:12px;
}

@media (min-width: 768px) {
  .branch-footer .branchfooter-links {
    list-style:none;
    padding:0;
    margin-bottom:45px;
    word-break:break-all;
    /*margin-left:25%;*/
  }
}

@media (max-width: 767px) {
  .branch-footer .branchfooter-links {
    list-style:none;
    padding:0;
    margin-bottom:45px;
    word-break:break-all;
    /*margin-left:25%;*/
    /*text-align:center;*/
  }
}

.branch-footer .branchfooter-links a {
  color:#555;
  font-size:11px;
}

@media (min-width: 768px) {
  .branch-footer .branchfooter-links li {
    margin-bottom:5px;
    line-height:1.3;
    font-size:12px;
    color:#747474;
    text-align:left;
    font-family:'MyriadPro';
  }
}

@media (max-width: 767px) {
  .branch-footer .branchfooter-links li {
    margin-bottom:5px;
    line-height:1.3;
    font-size:12px;
    color:#747474;
    text-align:center;
    font-family:'MyriadPro';
  }
}

.branch-footer .branchfooter-legal .copyright {
  margin-right:60px;
}

.branch-footer .branchfooter-legal .legal-links .item {
  padding-right:13px;
  border-right:1px solid #ccc;
  margin:0;
  margin-right:13px;
}

.branch-footer .branchfooter-legal .legal-links .item:last-child {
  border-right:none;
}

.branch-footer .branchfooter-legal .legal-links .item h5 {
  font-size:12px;
  margin-top:0;
  margin-bottom:0;
  color:#c0c0c0;
}

.branch-footer .region {
  margin-bottom:20px;
}

.branch-footer .region a {
  color:#555;
  font-size:11px;
}

.branch-footer .region img {
  margin-right:7px;
}

@media (min-width: 768px) {
  .branch-footer .region {
    margin-bottom:0;
  }
}

.branch-hr {
  border-top:solid 1px rgba(255,255,255,0.59);
  margin-top:1rem;
  margin-bottom:1rem;
}

.branchfoot-no {
  color:#FD9C61;
}

