.br-uae-tg-1  {border-collapse:collapse;border-spacing:0; width: 100%;}
.br-uae-tg-1 td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.br-uae-tg-1 th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.br-uae-tg-1 .tg-s08t{background-color:#ebe8e0;border-color:#ffffff;color:#f49323;text-align:center;vertical-align:middle}
.br-uae-tg-1 .tg-3nie{background-color:#e5decd;border-color:#ffffff;color:#f49323;text-align:center;vertical-align:middle}
.br-uae-tg-1 .tg-yyfi{background-color:#ebe8e0;border-color:#ffffff;color:#414143;font-size:18px;font-weight:bold;text-align:center;
  vertical-align:middle}
.br-uae-tg-1 .tg-nobx{background-color:#ebe8e0;border-color:#ffffff;color:#414143;text-align:center;vertical-align:middle}
.br-uae-tg-1 .tg-alp3{background-color:#e5decd;border-color:#ffffff;color:#414143;font-size:18px;font-weight:bold;text-align:center;
  vertical-align:middle}
.br-uae-tg-1 .tg-zbli{background-color:#e5decd;border-color:#ffffff;color:#414143;text-align:center;vertical-align:middle}
.br-uae-tg-1 .tg-rhz7{background-color:#d11e47;border-color:#ffffff;color:#ffffff;text-align:center;vertical-align:middle}







.br-uae-tg-2  {border-collapse:collapse;border-spacing:0;width: 100%;}
.br-uae-tg-2 td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.br-uae-tg-2 th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.br-uae-tg-2 .tg-s08t{background-color:#ebe8e0;border-color:#ffffff;color:#f49323;text-align:center;vertical-align:middle}
.br-uae-tg-2 .tg-3nie{background-color:#e5decd;border-color:#ffffff;color:#f49323;text-align:center;vertical-align:middle}
.br-uae-tg-2 .tg-yyfi{background-color:#ebe8e0;border-color:#ffffff;color:#414143;font-size:18px;font-weight:bold;text-align:center;
  vertical-align:middle}
.br-uae-tg-2 .tg-alp3{background-color:#e5decd;border-color:#ffffff;color:#414143;font-size:18px;font-weight:bold;text-align:center;
  vertical-align:middle}
.br-uae-tg-2 .tg-rhz7{background-color:#d11e47;border-color:#ffffff;color:#ffffff;text-align:center;vertical-align:middle}



.br-uae-tg-3  {border-collapse:collapse;border-spacing:0;width: 100%;}
.br-uae-tg-3 td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.br-uae-tg-3 th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.br-uae-tg-3 .tg-yyfi{background-color:#ebe8e0;border-color:#ffffff;color:#414143;font-size:18px;font-weight:bold;text-align:center;
  vertical-align:middle}
.br-uae-tg-3 .tg-emk8{background-color:#e5decd;border-color:#ffffff;color:#f49323;text-align:left;vertical-align:middle}
.br-uae-tg-3 .tg-ad4f{background-color:#ebe8e0;border-color:#ffffff;color:#f49323;text-align:left;vertical-align:middle}
.br-uae-tg-3 .tg-alp3{background-color:#e5decd;border-color:#ffffff;color:#414143;font-size:18px;font-weight:bold;text-align:center;
  vertical-align:middle}
.br-uae-tg-3 .tg-k64x{background-color:#d11e47;border-color:#ffffff;color:#ffffff;text-align:left;vertical-align:middle}
.br-uae-tg-3 .tg-rhz7{background-color:#d11e47;border-color:#ffffff;color:#ffffff;text-align:center;vertical-align:middle}



.br-uae-tg-4  {border-collapse:collapse;border-spacing:0;width: 100%;}
.br-uae-tg-4 td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.br-uae-tg-4 th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.br-uae-tg-4 .tg-s08t{background-color:#ebe8e0;border-color:#ffffff;color:#f49323;text-align:center;vertical-align:middle}
.br-uae-tg-4 .tg-3nie{background-color:#e5decd;border-color:#ffffff;color:#f49323;text-align:center;vertical-align:middle}
.br-uae-tg-4 .tg-yyfi{background-color:#ebe8e0;border-color:#ffffff;color:#414143;font-size:18px;font-weight:bold;text-align:center;
  vertical-align:middle}
.br-uae-tg-4 .tg-alp3{background-color:#e5decd;border-color:#ffffff;color:#414143;font-size:18px;font-weight:bold;text-align:center;
  vertical-align:middle}
.br-uae-tg-4 .tg-rhz7{background-color:#d11e47;border-color:#ffffff;color:#ffffff;text-align:center;vertical-align:middle}







.br-ksa-tg-1  {border-collapse:collapse;border-spacing:0;width: 100%;}
.br-ksa-tg-1 td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.br-ksa-tg-1 th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.br-ksa-tg-1 .tg-z7bw{background-color:#ebe8e0;border-color:#ffffff;color:#414143;font-weight:bold;text-align:center;vertical-align:middle}
.br-ksa-tg-1 .tg-yyfi{background-color:#ebe8e0;border-color:#ffffff;color:#414143;font-size:18px;font-weight:bold;text-align:center;
  vertical-align:middle}
.br-ksa-tg-1 .tg-aulh{background-color:#e5decd;border-color:#ffffff;color:#414143;font-weight:bold;text-align:center;vertical-align:middle}
.br-ksa-tg-1 .tg-alp3{background-color:#e5decd;border-color:#ffffff;color:#414143;font-size:18px;font-weight:bold;text-align:center;
  vertical-align:middle}
.br-ksa-tg-1 .tg-rhz7{background-color:#d11e47;border-color:#ffffff;color:#ffffff;text-align:center;vertical-align:middle}
.br-ksa-tg-1 .tg-uetp{background-color:#ebe8e0;border-color:#ffffff;color:#414143;font-size:100%;font-weight:bold;text-align:center;
  vertical-align:middle}
.br-ksa-tg-1 .tg-z8br{background-color:#ebe8e0;border-color:#ffffff;font-weight:bold;text-align:center;vertical-align:middle}
.br-ksa-tg-1 .tg-irk4{background-color:#e5decd;border-color:#ffffff;color:#414143;font-size:100%;font-weight:bold;text-align:center;
  vertical-align:middle}
.br-ksa-tg-1 .tg-hx5q{background-color:#e5decd;border-color:#ffffff;font-weight:bold;text-align:center;vertical-align:middle}




.br-ksa-tg-2  {border-collapse:collapse;border-spacing:0;width: 100%;}
.br-ksa-tg-2 tr:nth-child(odd) {background-color: #ebe8e0;}
.br-ksa-tg-2 tr:nth-child(even) {background-color: #e5decd;}
.br-ksa-tg-2 td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.br-ksa-tg-2 th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.br-ksa-tg-2 .tg-8qsa{border-color:#ffffff;color:#414143;font-size:18px;font-weight:bold;text-align:center;vertical-align:middle}
.br-ksa-tg-2 .tg-sd23{border-color:#ffffff;color:#414143;text-align:center;vertical-align:middle}
.br-ksa-tg-2 .tg-rhz7{background-color:#d11e47;border-color:#ffffff;color:#ffffff;text-align:center;vertical-align:middle}


.br-ksa-tg-3  {border-collapse:collapse;border-spacing:0;width: 100%;}
.br-ksa-tg-3 tr:nth-child(odd) {background-color: #ebe8e0;}
.br-ksa-tg-3 tr:nth-child(even) {background-color: #e5decd;}
.br-ksa-tg-3 td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.br-ksa-tg-3 th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.br-ksa-tg-3 .tg-8qsa{border-color:#ffffff;color:#414143;font-size:18px;font-weight:bold;text-align:center;vertical-align:middle}
.br-ksa-tg-3 .tg-sd23{border-color:#ffffff;color:#414143;text-align:center;vertical-align:middle}
.br-ksa-tg-3 .tg-rhz7{background-color:#d11e47;border-color:#ffffff;color:#ffffff;text-align:center;vertical-align:middle}
