.internationalbody {
  background-color:#f4f4f4;
  min-height:800px;
  max-width:400px;
  width:100%;
}

.select-intn {
  background-color:transparent;
  /*border:none;*/
  /*padding-right:10px;*/
  margin-top:10px;
  color:#e99a4f;
  font-family:'MyriadPro';
  font-size:16px;
  line-height:1.24;
  -webkit-appearance:none;
  -moz-appearance:none;
  padding-left:15px;
  padding-right:15px;
  border:1px solid rgba(40,25,8,0.35);
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
}

