.select-hidden {
  display:none;
  visibility:hidden;
  padding-right:10px;
  color:black;
}

@media (min-width: 686px) {
.select {
  cursor:pointer;
  display:inline-block;
  /*display: block;*/
  position:relative;
  font-size:18px;
  color:#281908;
  min-width:230px;
  height:45px;
  text-align:center;
  font-family:MyriadPro;
  /*line-height:1.24;*/
}
}

@media (max-width: 686px) {
.select {
  cursor:pointer;
  /*display:inline-block;*/
  display: block;
  position:relative;
  font-size:18px;
  color:#281908;
  min-width:230px;
  height:45px;
  text-align:center;
  font-family:MyriadPro;
  /*line-height:1.24;*/
}

}


.select-styled {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  /*background-color:red;*/
  padding:15px 15px;
  -moz-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  -webkit-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
  color:#281908;
  /*line-height:1.24;*/
}

.select-styled:after {
  content:"";
  width:0;
  height:0;
  border:5px solid transparent;
  border-color:#474646 transparent transparent transparent;
  position:absolute;
  top:13px;
  right:0px;
}

.select-styled:hover {
  /*background-color:#b83729;*/
}

.select-styled:active, .select-styled.active {
  /*background-color:#ab3326;*/
}

.select-styled:active:after, .select-styled.active:after {
  top:8px;
  border-color:transparent transparent #474646 transparent;
}

.select-options {
  display:none;
  position:absolute;
  top:100%;
  right:0;
  left:0;
  z-index:999;
  margin-right:0;
  margin-top:0;
  margin-bottom:0;
  padding-top:10px;
  list-style:none;
  font-family:MyriadPro;
  padding-left:10px;
  margin-left: 20px;
  padding-right:15px;
  padding-bottom:10px;
  max-width:230px;
  width: 100%;
  text-align:center;
  /*max-height:160px;*/
  overflow-y:auto;
  background-color:#ffffff;
  -webkit-box-shadow:0px 0px 27px -8px rgba(168,168,168,0.98);
  -moz-box-shadow:0px 0px 27px -8px rgba(168,168,168,0.98);
  box-shadow:0px 0px 27px -8px rgba(168,168,168,0.98);
  min-height:260px;
  max-height:460px;
}

.select-options li {
  margin:0;
  padding:15px 0;
  /*text-indent:15px;*/
  /*border-top:1px solid #962d22;*/
  -moz-transition:all 0.15s ease-in;
  -o-transition:all 0.15s ease-in;
  -webkit-transition:all 0.15s ease-in;
  transition:all 0.15s ease-in;
  /*background-color:#b4b4b4;*/
  /*height:120px;*/
  color:#281908 !important;
  z-index:1000;
  /*height:20px;*/
  /*background:red;*/
  font-size:18px;
  font-family:MyriadPro;
  line-height:1.24;
}

.select-options li:hover {
  color:#818181;
  /*background:#fff;*/
}

.select-options li[rel="hide"] {
  display:none;
}

.atari {
  color:black;
  line-height:1.24;
  font-size:18px;
}

